
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate';
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate/mixins';
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate/bounceIn';
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate/fadeInDown';
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate/bounceInDown';
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate/bounceOutDown';
@import '../../../../node_modules/animate.scss/vendor/assets/stylesheets/animate/bounceOutUp';

$animation-enter: fadeInDown;
$animation-enter-duration: .5s;
$animation-leave: bounceOutDown;
$animation-leave-duration: .8s;


$block-name: "tuzame-news";

@import url(https://fonts.googleapis.com/css?family=Teko:400,300|Lato:400,300,900);

$font-header: 'Teko', sans-serif;
$font-body: 'Lato', sans-serif;



.#{$block-name} {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(images/Fog-Forest-Nature-Background-For-Wallpaper-6400127.jpg);
  background-size: cover;
  overflow: hidden;
  &__container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__widget {
    width: 100%;
    &__wrap {
      width: 100%;
      min-width: 250px;
      max-width: 500px;
      display: block;
      position: relative;
    }
    &.ng-enter {
      @include animate($animation-enter, $animation-enter-duration);
      animation-delay: $animation-leave-duration - $animation-enter-duration;
    }
    &.ng-leave {
      @include animate($animation-leave, $animation-leave-duration);
      position: absolute;
      top:-50px;
    }

  }
  &__header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0;
    height: 50px;
    font-family: $font-header;
    font-weight: 300;
    background: #2C2F34;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 4px 4px 0 0;
    color: white;

    span {
      color: #BCB099;
      display: none;
    }
  }

  &__content {
    padding: 30px 15px;
    background: white;
    position: relative;
    border-radius: 0 0 4px 4px;
    &__image {
      position: absolute;
      top: -63px;
      right: 20px;
      img {
        height: 75px;
        border-radius: 50%;
      }
    }
    &__news {
      font-family: $font-body;
      padding: 0;
      &__link {
        &:link, &:visited {
          text-decoration: none;
          color: inherit;
        }
        &:hover, &:focus {
          opacity:.7;
        }
      }
      &__headline {
        font-weight:900;
        color: black;
        font-size: 24px;
        margin: 0 0 16px 0;
      }

      &__intro {
        font-size: 16px;
        line-height: 22px;
      }

    }
  }

  &__button {
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius:0 50% 50% 0;
    height: 50px;
    width: 50px;

    background-image: url(images/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .6;

    text-indent: -10000px;
    &:disabled {
      opacity:.3;
      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: rgba(60,60,60,.3);
    }

    &:focus {
      outline: none;
    }

    &--prev {
      transform: scaleX(-1);
    }
  }
  
  &__spinner {
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 26 26' enable-background='new 0 0 26 26' xml:space='preserve'> <rect x='12.2' y='2.4' width='1.6' height='5.7'/> <polygon opacity='0.6' points='16.1,16.8 18.9,21.8 17.5,22.6 14.7,17.6 '/> <polygon opacity='0.92' points='14.7,8.4 17.6,3.4 18.9,4.2 16.1,9.2 '/> <polygon opacity='0.68' points='21.8,18.9 16.8,16.1 17.6,14.7 22.6,17.5 '/> <polygon opacity='0.84' points='16.8,9.9 21.8,7.1 22.6,8.4 17.6,11.3 '/> <polygon opacity='0.2' points='9.2,9.9 8.4,11.3 3.4,8.4 4.2,7.1 '/> <polygon opacity='0.12' points='7,4.2 8.4,3.4 11.2,8.4 9.8,9.2 '/> <polygon opacity='0.36' points='9.2,16.1 4.2,18.9 3.4,17.5 8.4,14.7 '/> <polygon opacity='0.44' points='8.4,22.6 7.1,21.8 9.9,16.8 11.3,17.6 '/> <rect x='2.4' y='12.2' opacity='0.28' width='5.7' height='1.6'/> <rect x='12.2' y='17.9' opacity='0.52' width='1.6' height='5.7'/> <rect x='17.9' y='12.2' opacity='0.76' width='5.7' height='1.6'/> </svg>");
      animation: spin 1.5s steps(12) infinite;
    }
  }
  
}

@media (min-width: 480px) {
  .#{$block-name} {
    &__header {
      span {
        display: block;
      }
    }
  }
}
@media (min-width: 768px) {
  .#{$block-name} {

    &__widget {
      &__wrap {
        min-height: 150px;
        min-width: 500px;
      }
    }
  }
}
@media (min-width: 992px) {
  .#{$block-name} {
  }
}
@media (min-width: 1200px) {
  .#{$block-name} {
  }
}

@keyframes spin{to{transform:rotate(360deg);}}